services:

  app:
    build: .
    ports:
      - ${PIXOO_REST_PORT:-5100}:5100
    environment:
      - PIXOO_DEBUG=${PIXOO_DEBUG:-false}
      - PIXOO_REST_DEBUG=${PIXOO_REST_DEBUG:-false}
      #
      - PIXOO_HOST=${PIXOO_HOST:-pixoo}
      - PIXOO_SCREEN_SIZE=${PIXOO_SCREEN_SIZE:-64}
    restart: unless-stopped
