label: pixoo-rest

restartPolicy: Always

replicaCount: 1

image:
  repository: 4ch1m/pixoo-rest
  pullPolicy: IfNotPresent
  tag: 1.6.0

livenessProbe:
  delay: 5
  period: 5

service:
  type: NodePort
  port: 5000

ingress:
  path: /pixoo-rest
  pathType: Prefix

environment:
  timezone: Europe/Berlin
  #
  pixoo_host: Pixoo64
  pixoo_size: 64
  pixoo_debug: false
  pixoo_rest_debug: false
  pixoo_test_connection_retries: 10
